---
---

@import "no-style-please-customized";

html {
  font-size: 62.5%;
}

// * {
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Spoqa Han Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// }

body {
  font-family: "Segoe UI", "Spoqa Han Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

header span {
  font-family: JetBrainsMono, system-ui;
  font-weight: 800;
  font-size: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: JetBrainsMono, system-ui;
  font-weight: 800;
}

a {
  text-decoration: none;
  text-decoration-color: #0c59cc;
  color: #0c59cc;

  &:hover {
    color: #390be0
  }
}


main li a[target="_blank"]::before, 
main p a[target="_blank"]::before, 
main h3 a[target="_blank"]::before,
main h4 a[target="_blank"]::before {
  content: url(/assets/img/external-link-alt-solid.svg);
  display: inline-block;
  width: 1.6rem;
  height: 1rem;
  margin: 10px 5px 0 10px;
} 

pre {
  tab-size: 2;
  -moz-tab-size: 2;
}

code, code span {
  font-family: "JetBrainsMono", monospace;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  vertical-align: 0.1rem;
}

code.highlighter-rouge {
  padding: 0 0.2rem;
}

ul, li {
  list-style-type: none;
}

div.w ul {
  padding-inline-start: 2rem;
}

div.w > ul > li {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
}

// code * {
//   font-family: "JetBrainsMono", monospace;
// }

footer {
  margin: 6.4rem 2rem;
  div {
    margin: 0 auto;
    max-width: 64rem;
    a {
      font-size: 1.2rem;
    }
  }
}
