---
---

@import "no-style-please-customized";

html {
  font-size: 62.5%;
}

// * {
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Spoqa Han Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// }

body {
  font-family: "Segoe UI", "Spoqa Han Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: JetBrainsMono;
  font-weight: 800;
}

a {
  text-decoration: none;
  text-decoration-color: #262626;
  color: #262626;

  &:hover {
    color: #969696
  }
}

pre {
  tab-size: 2;
  -moz-tab-size: 2;
}

code, code span {
  font-family: "JetBrainsMono", monospace;
  font-size: 14px;
  border-radius: 0.2rem;
  vertical-align: 0.1rem;
}

code.highlighter-rouge {
  padding: 0 0.2rem;
}



ul, li {
  list-style-type: none;
}


div.w ul {
  padding-inline-start: 2rem;
}


div.w > ul > li {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 2rem;
}

// code * {
//   font-family: "JetBrainsMono", monospace;
// }

footer {
  margin: 6.4rem 2rem;
  div {
    margin: 0 auto;
    max-width: 64rem;
    a {
      font-size: 1.2rem;
    }
  }
}

