<nav class="breadcrumb is-small" area-label="breadcrumbs">
  <ul>
    {% assign date_array = page.date | date: "^%Y^%b^%-d^" %}
    {% assign breadcrumbs = page.bread | default: "Home" | append: date_array | append: page.title | split: '^' %}
    {% for crumb in breadcrumbs %}
      {% if forloop.first %}
        <li>
          <a href="/">
            <span class="icon is-small">
              <i class="fas fa-home" area-hidden="true"></i>
            </span>
          </a>
        </li>
      {% else %}
        {% if forloop.last %}
        <li class="is-active">
          <a area-current="page">{{ crumb }}</a>
        </li>
        {% else %}
          <li><a>{{ crumb }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
