<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <!-- Navigation Bar -->
      <nav class="level">
        <!-- Left Side -->
        <div class="level-left">
          <div class="is-hidden-mobile">
            <h1 class="title is-size-1">
              <a href="/" title="Dev Cospre. 개발자인척 합니다." rel="home">Dev Cospre.</a>
            </h1>
            <h2 class="subtitle is-size-6">[deˈv ˈkɑːspre]</h2>
          </div>
        </div>
        <!-- Right Side -->
        <div class="level-right">
          <div class="level-item is-hidden-desktop">
            <a class="button" id="sidebarCollapse" style="border-color: #FFF; box-shadow: none;">
              <span class="fas fa-bars"></span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero-foot is-hidden-touch">
    <div class="container level">
      <div class="level-left">
        <p>About</p>
      </div>
      <div class="level-right">
        <form id="search-form" class="field" method="get" action="https://www.google.com/search" target="_blank">
          <p class="control has-icons-right"
             onmouseover="this.style.width='220px';"
             onfocusin="this.style.width='220px';"
             onfocusout="this.style.width='47px';">
            <input class="input" type="text" name="q" maxlength="255" placeholder="Search via Google">
            <input type="hidden" name="sitesearch" value="https://blog.rockheung.xyz">
            <span class="icon is-right"><i class="fas fa-search"></i></span>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

