<!-- Navigation Bar -->
<nav class="level container is-fluid">
  <!-- Left Side -->
  <div class="level-left">
    <div class="level-item is-hidden-touch">
      <a href="/" title="Rockheung's Sundry" rel="home">
        <img src="/assets/ico/home.png" class="img-rounded home-img" alt="home" >
      </a>
    </div>
  </div>
  <!-- Right Side -->
  <div class="level-right is-marginless">
    <div class="level-item is-hidden-touch">
      <form class="field" method="get" action="https://www.google.com/search" target="_blank" style="margin-bottom: 0rem;">
        <p class="control has-icons-right"
           style="width: 48px; transition: all .30s;"
           onmouseover="this.style.width='220px';"
           onfocusin="this.style.width='220px';"
           onfocusout="this.style.width='48px';">
          <input class="input" type="text" name="q" maxlength="255" placeholder="Search via Google" style="border-color: #FFF; box-shadow: none;">
          <input type="hidden" name="sitesearch" value="https://blog.rockheung.xyz">
          <span class="icon is-right"><i class="fas fa-search" style="color: #363636;"></i></span>
        </p>
      </form>
    </div>
    <div class="level-item is-hidden-desktop">
      <a class="button" id="sidebarCollapse" style="border-color: #FFF; box-shadow: none;">
        <span class="fas fa-bars"></span>
      </a>
    </div>
  </div>
</nav>
