<!-- Navigation Bar -->
<nav class="level container">
  <!-- Left Side -->
  <div class="level-left">
    <div class="level-item is-hidden-touch">
      <h1 class="title is-large">
        <a href="/" title="Dev Cosp" rel="home">Dev Cosp.</a>
      </h1>
      <h2 class="subtitle is-size-7">개발자스럽게,</h2>
    </div>
  </div>
  <!-- Right Side -->
  <div class="level-right is-marginless">
    <div class="level-item is-hidden-touch">
      <form id="search-form" class="field" method="get" action="https://www.google.com/search" target="_blank">
        <p class="control has-icons-right"
           onmouseover="this.style.width='220px';"
           onfocusin="this.style.width='220px';"
           onfocusout="this.style.width='47px';">
          <input class="input" type="text" name="q" maxlength="255" placeholder="Search via Google">
          <input type="hidden" name="sitesearch" value="https://blog.rockheung.xyz">
          <span class="icon is-right"><i class="fas fa-search"></i></span>
        </p>
      </form>
    </div>
    <div class="level-item is-hidden-desktop">
      <a class="button" id="sidebarCollapse" style="border-color: #FFF; box-shadow: none;">
        <span class="fas fa-bars"></span>
      </a>
    </div>
  </div>
</nav>
