@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-badge/dist/css/bulma-badge";
@import "../node_modules/bulma-accordion/dist/css/bulma-accordion";
@import "vim";

body {
  font-family: BlinkMacSystemFont, -apple-system, "Ubuntu", "Noto Serif KR", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", serif;
  font-weight: 400;
  p, pre {
    > code {
      font-family: 'Nanum Gothic Coding', monospace;
    }
  }
}

section.hero {
  div.hero-body h1 {
    font-family: 'Press Start 2P', cursive;
  }
  div.hero-foot {
    background-color: rgba(124,124,245,0.1);
  }
  nav.level > div {
    margin-top: unset !important;
  }
  a.navbar-burger {
    margin-left: unset;
  }
}

section.section {
  a {
    color: #191970 !important;
  }
  article.content {
    margin-bottom: 4rem !important;
    figure {
      margin: 0rem;
      pre {
      text-align: initial;
      background-color: #333;
      }
    }
    header {
      h1, h2 {
        font-weight: 700;
      }
      > p {
        margin-bottom: 1rem;
      }
    }
    div {
      font-weight: 200;
      line-height: 2.5;
      h3, h4, h5, h6 {
        font-weight: 400;
      }
      p > a::before {
        display: none;
        font-family: "Font Awesome 5 Free";
        content: "\f360";
        font-weight: 900;
      }
    }
    > div:last-child {
      margin-top: 1rem;
    }
  }
}

#search-form {
  p {
    width: 47px;
    transition: all .30s;
  }
  span.icon {
    color: #FFF;
  }
  input {
    color: #FFF;
    background-color: transparent;
    border-color: transparent;
    box-shadow: unset;
  }
  input::placeholder {
    color: #FFF;
    font-size: 0.75rem;
  }
}

#menu-frame {
  .menu-list span.badge {
    margin-left: 0.3rem;
  }
}

#main-frame {
  max-width: 729px;
  width: 100%;
}

#recentcomments {
  li {
    line-height: 2.4rem;
    a div.media {
      align-items: center;
      div.media-content {
          width: 0rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
    }
  }
}

