@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-badge/dist/css/bulma-badge";
@import "vim";

section.section a {
  color: #191970 !important;
}

section {
  nav.level > div {
    margin-top: unset !important;
  }
  a.navbar-burger {
    margin-left: unset;
  }
}

article.content {
  margin-bottom: 4rem !important;
  figure {
    margin: 0rem;
    pre {
    text-align: initial;
    background-color: #333;
    }
  }
  header {
    > p {
      margin-bottom: 1rem;
    }
  }
  div:last-child {
    margin-top: 1rem;
  }
}

#search-form {
  p {
    width: 47px;
    transition: all .30s;
  }
  span.icon {
    color: #FFF;
  }
  input {
    color: #FFF;
    background-color: transparent;
    border-color: transparent;
    box-shadow: unset;
  }
  input::placeholder {
    color: #FFF;
  }
}

#menu-frame {
  .menu-list span.badge {
    margin-left: 0.3rem;
  }
}

#main-frame {
  max-width: 729px;
  width: 100%;
}

#recentcomments li a div.media {
  align-items: center;
}

