@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-badge/dist/css/bulma-badge";


.content figure pre {
  text-align: initial;
}

#search-icon {
  color: #363636;
}

#menu-frame {
  width: 295px;
}

#main-frame {
  max-width: 729px;
  width: 100%;
}
