---
layout: default
---
<div>
  {{ content }}
  {% if site.posts %}
    {% assign lists_categories = site.posts | map: "categories" %}
    {% assign categories = lists_categories | uniq | sort %}
    <div>
    {% for category in categories %}
      <p class="subtitle" id="{{ category }}" title="{{ category }}"><strong>> </strong>{{ category }}</p>
        {% for post in site.posts %}
          {% if post.categories contains category %}
            {% include previewed_post.html post = post %}
          {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
  {% endif %}
</div>
