<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    {% include _head/keywords.liquid %}

    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />

    {% include head.liquid %}

    <link href="/SpoqaHanSans-kr.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a>title 1</a></li>
          <li><a>title 2</a></li>
          <li><a>title 3</a></li>
        </ul>
      </nav>
    </header>
    <main class="wrapper">{{ content }}</main>
    <footer>
      <a>about</a>
    </footer>
  </body>
</html>
