---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}

        <article id="{{ post.slug }}" class="hentry" >
          <header class="entry-header page-header">
            <h2 class="entry-title">

              <a href="{{ post.url | relative_url }}" title="{{ post.title }}" rel="bookmark">
                {{ post.title }}
              </a>

          <br>
          <small class="entry-info pull-right">

            <time class="published" datetime="{{ post.date | date: "%b %-d, %Y" }}" pubdate="pubdate">{{ post.date | date: "%b %-d, %Y" }}</time>

            {% if post.categories.size > 0 %}
              <br>
              in
              {% for category in post.categories %}
                <a href="{{ base_url }}category/#{{ category }}"
                   title="Show all posts in {{ category }}"
                   rel="tag category">{{ category }}
                 {% if forloop.last %}.{% else %}, {% endif %}</a>
              {% endfor %}
            {% endif %}
          </small>

            </h2>

          </header>


          <div class="entry-body">

            <!--
              {% comment %}
              {% if post.image %}
                <div class="entry-image">
                <p>
                {% if continue_reading %}
                  <a href="{{ post.get_absolute_url }}" title="{{ post.title }}" rel="bookmark">
                {% endif %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-thumbnail img-responsive" >
                {% if continue_reading %}
                  </a>
                {% endif %}
                </p>
                </div>
              {% endif %}
              {% endcomment %}
            -->

            <div class="entry-content lead">
              {{ post.excerpt | truncatewords: 55 }}
            </div>

            <p class="continue-reading">
              <a href="{{ post.url | relative_url }}"
                 rel="bookmark">
                Continue reading
              </a>
            </p>

          </div>


          <footer class="entry-footer">

            <p class="entry-tags">
              <span class="glyphicon glyphicon-tags"></span> <strong>Tags</strong> :
              {% if post.tags.size > 0 %}
                {% for tag in post.tags %}
                  <a href="{{ base_url }}tag/#{{ tag }}"
                     title="Show all entries tagged by {{ tag }}"
                     rel="tag">{{ tag }}</a>
                {% endfor %}
              {% else %}
                <span>No tags</span>
              {% endif %}
            </p>

          </footer>
        </article>

        <!--
          {% comment %}
          <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
          </a>
          </h3>
          {% if site.show_excerpts %}
            {{ post.excerpt | truncatewords: 55 }}
          {% endif %}
          </li>
          {% endcomment %}
        -->
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
