---
layout: default
---
<article class="content">
  <header>
    <h1 class="title">{{ page.title | escape }}</h1>
    <p>
      <i class="fas fa-folder-open"></i>&nbsp;{{ page.categories | default: "Etc." }}
    </p>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <p>
      <i class="fas fa-calendar-alt"></i>&nbsp;{{- page.date | date: date_format -}}
      {%- if page.author -%}
      <i class="fas fa-circle is-size-7"></i><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span>{{- page.author -}}</span></span>
    </p>
    {%- endif -%}
    {% if page.tags %}
    {% if page.tags.size != 0 %}
      <p>[&nbsp;
      {%- for tag in page.tags -%}
        {%- capture tag_name -%}{{- tag -}}{%- endcapture -%}
        <a><nobr>{{- tag_name -}}</nobr></code>&nbsp;</a>
      {%- endfor -%}
      ]</p>
    {% endif %}
    {% endif %}
  </header>
  <br>
  <div class="has-text-justified">
    {{ content }}
  </div>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
  <a hidden></a>
</article>
