---
layout: default
---
<div>
  {{ content }}
  {% if site.posts %}
    {% assign lists_tags = site.posts | map: "tags" %}
    {% assign tags = lists_tags | uniq | sort %}
    <div>
    {% for tag in tags %}
      <p class="subtitle"  id="{{ tag }}" title="{{ tag }}"><strong># </strong>{{ tag }}</p>
        {% for post in site.posts %}
          {% if post.tags contains tag %}
            {% include previewed_post.html post=post %}
          {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
  {% endif %}
</div>

